img {

    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;

}

.Imagenes {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    
    

}

.Diploma1,
.Diploma2,
.Insignia1,
.Insignia2,
.Insignia3, 
.titulo

{
    width: 100%;
    max-width: 350px;
    transition: all 0.3s ease;
     height: 90%;
}


.Diploma1:hover,
.Diploma2:hover,
.Insignia1:hover,
.Insignia2:hover,
.Insignia3:hover,
.Certificado:hover
{
    transform: scale(1.15) rotate(-6deg);
    filter: drop-shadow(0 0 2em rgba(46, 213, 20, 0.447));
}

/* Responsive para móviles */
@media (max-width: 600px) {
    .Diploma1,
    .Diploma2,
    .Insignia1,
    .Insignia2,
    .Insignia3, 
    .Certificado {
        max-width: 95vw;
        margin-top: 1rem;
    }
    .Imagenes {
        gap: 0.5rem;
        padding: 0.5rem;
    }
}
