@import "tailwindcss";
:root {
  /* --font-size: clamp(1rem, 2vw, 1.25rem);
  --padding-global: clamp(0.5rem, 2vw, 2rem);
  --column-min: 200px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min), 1fr));
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: dark;
  background: linear-gradient(135deg, #232526 0%, #1a202c 40%, #283e51 70%, #0f2027 100%);
  background-size: 300% 300%;
  animation: gradientMove 16s ease-in-out infinite; */
  /* font-synthesis: none;  */
  /* text-rendering: optimizeLegibility; */
   /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */
}





/* a:hover {
  color: #535bf2;
} */

html,body {
  background: linear-gradient(135deg, #232526 0%, #141923 40%, #2b455c 70%, #123848 100%);
  background-size: 300% 300%;
  animation: gradientMove 15s ease-in-out infinite;
  margin: 0;
  font-size: var(--font-size);
  padding: var(--padding-global);
  display: flex;
  place-items: auto;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
   
  }

  a:hover {
    color: #747bff;
  }

  



}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  :root {
    background: linear-gradient(135deg, #232526 0%, #283e51 70%, #0f2027 100%);
    background-size: 300% 300%;
    animation: gradientMove 16s ease-in-out infinite;
  }
}
